@model MyWeb.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.What_To_Do)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.What_To_Do)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.What_Are_You_Passionate_About)
        </dt>
        <dd class="col-sm-10"></dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.What_Are_You_Passionate_About)
        </dd>
        <dt class="col-sm-2"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Who_Are_You_Making_This_For)
        </dt>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Who_Are_You_Making_This_For)
        </dd>
        <dt class="col-sm-2"></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Why_Did_You_Decide_To_Create_This_Website_or_App)
        </dt>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Why_Did_You_Decide_To_Create_This_Website_or_App)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
