@model IEnumerable<MyWeb.Models.Geekration>

@{
    ViewData["Title"] = "Index";
}

<h1>Geekration</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Geekrations" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobbies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Your_Values)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Your_Values)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-action="Geeksign" asp-route-id="@item.Id">Geeksign</a>
            </td>
        </tr>
}
    </tbody>
</table>
